<h4>Game Details:</h4>
<p><span class="label">Round: </span> <span>{{game.roundNumber}}</span></p>
<p><span class="label">Date: </span> <span>{{game.date}}</span></p>
<p><span class="label">Stadium: </span> <span>{{game.stadium}}</span></p>
<p><span class="label">Home Team: </span> <span>{{game.homeTeam}}</span></p>
<p><span class="label">Away Team: </span> <span>{{game.awayTeam}}</span></p>
<p><span class="label">Group: </span> <span>{{game.group}}</span></p>
<p><span class="label">Result: </span> <span>{{game.result}}</span></p>


