.stadium-result ul {
   list-style: none;
 }

.stadium-result {
  margin-top: 10px;
}

button.details {
  margin-left: 10px;
}

li {
  padding-bottom: 10px;
}

h4{
  font-size: 1.3rem;
  color: #007bff;
  margin: 10px 40px;
}
