.custom-select {
  width: auto;
}

.filter-result mat-icon {
  color: #427cfe;
}

button.details {
  margin-left: 10px;
}

.filter-result ul {
  list-style: none;
}

span.stadium {
  margin-right: 10px;
  font-weight: 700;
}

.filter-result {
  margin-top: 10px;
}
